@model Motorsports.Scaffolding.Core.Models.DisplayModels.HomeDisplayModel

@{
  ViewData["Title"] = "Home";
}

<div id="menu">
  @await Html.PartialAsync("RoundsNextUp", Model)
  @await Html.PartialAsync("RoundsToAcquire", Model)
  @await Html.PartialAsync("LatestSeasons", Model)
  @await Html.PartialAsync("MasterData", Model)
</div>