@model Motorsports.Scaffolding.Core.Models.DisplayModels.HomeDisplayModel

@{
  ViewData["Title"] = "Home";
}

<div id="menu">
  @if (Model.HasVeryNextUp) {
    @Html.Partial("VeryNextUp", Model.VeryNextUp)
  }
  <table class="table">
    <thead>
    <tr>
      <th>
        Next up
      </th>
    </tr>
    </thead>
    <tbody>
    @if (Model.HasNextUpPerSport) {
      foreach (var nextUp in Model.NextUpPerSport) {
         <tr>
           <td>
             @Html.Partial("NextUpForSport", nextUp)
           </td>
         </tr>
       }
    }
    else {
      <tr>
        <td>
          <div class="disabledLink">[No next up rounds]</div>
        </td>
      </tr>
    }
    </tbody>
  </table>
  <table class="table">
    <thead>
    <tr>
      <th>
        Select master data model
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <a asp-controller="Sports" asp-action="Index">Sports</a>
      </td>
    </tr>
    <tr>
      <td>
        <a asp-controller="Venues" asp-action="Index">Venues</a>
      </td>
    </tr>
    <tr>
      <td>
        <a asp-controller="Teams" asp-action="Index">Teams</a>
      </td>
    </tr>
    <tr>
      <td>
        <a asp-controller="Participants" asp-action="Index">Participants</a>
      </td>
    </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
    <tr>
      <th>
        Select content model
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <a asp-controller="Seasons" asp-action="Index">Seasons</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>