@model Motorsports.Scaffolding.Core.Models.DisplayModels.HomeDisplayModel

@{
  ViewData["Title"] = "Home";
}

<div id="menu">
  @Html.Partial("RoundsNextUp", Model)
  @Html.Partial("RoundsToAcquire", Model)
  @Html.Partial("LatestSeasons", Model)
  @Html.Partial("MasterData", Model)
</div>