@{
  ViewData["Title"] = "Home";
}

<div id="menu">
  <table class="table">
    <thead>
    <tr>
      <th>
        Select master data model
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <a asp-area="" asp-controller="Sports" asp-action="Index">Sports</a>
      </td>
    </tr>
    <tr>
      <td>
        <a asp-area="" asp-controller="Venues" asp-action="Index">Venues</a>
      </td>
    </tr>
    <tr>
      <td>
        <a asp-area="" asp-controller="Teams" asp-action="Index">Teams</a>
      </td>
    </tr>
    <tr>
      <td>
        <a asp-area="" asp-controller="Participants" asp-action="Index">Participants</a>
      </td>
    </tr>
    </tbody>
  </table>
  <table class="table">
    <thead>
    <tr>
      <th>
        Select content model
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <a asp-area="" asp-controller="Seasons" asp-action="Index">Seasons</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>