@model Motorsports.Scaffolding.Core.Models.DisplayModels.HomeDisplayModel

<blockquote class="homeHeader">
  <h4>Next up</h4>
</blockquote>
@if (Model.HasVeryNextUp) {
  @Html.Partial("NextUp", Model.VeryNextUp)
}
@if (Model.HasNextUpPerSport) {
  foreach (var nextUp in Model.NextUp) {
    @Html.Partial("NextUp", nextUp)
  }
}
else {
  if (!Model.HasVeryNextUp) {
    <div class="disabled">[No rounds next up]</div>
  }
}