<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Motorsports</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/lib/bootstrap-slider/dist/bootstrap-slider.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/lib/bootstrap-datetimepicker/dist/css/bootstrap-datetimepicker.min.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/lib/select2/dist/select2.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
</head>
<body>
<div class="page">
  @if (User.Identity.IsAuthenticated) {
  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a asp-controller="Home" asp-action="Index" class="navbar-brand">Motorsports</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a asp-controller="Sports" asp-action="Index">Sports</a></li>
          <li><a asp-controller="Seasons" asp-action="Index">Seasons</a></li>
        </ul>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a asp-controller="Login" asp-action="Logout" class="navbar-brand">Log out</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  }
  <div class="container body-content">
    @RenderBody()
  </div>
</div>
<div class="footer">
  Technology playground by David Lievrouw (v@(typeof(Startup).Assembly.GetName().Version.ToString(3))).
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-slider/dist/bootstrap-slider.js" asp-append-version="true"></script>
<script src="~/lib/momentjs/dist/js/moment-with-locales.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-datetimepicker/dist/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
<script src="~/lib/select2/dist/select2.full.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)

</body>
</html>