*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
.vs/
*.DotSettings.user
*.nupkg
**/packages/*
!**/packages/build/
node_modules/
build/log
build/build-out
build/deploy-out
.dotnet
tools
src/version.props
dist/
pub/
*.pubxml
Import Schema Logs/
*.dbmdl
*.jfm
**/appsettings-connectionstrings.json
.idea
mariadb