@model DateTime

@{
  var selectedDate = (DateTime) ViewData["SelectedDate"];
  var targetProperty = ViewData["TargetProperty"] ?? "Date";
}

<div class="row">
  <input type="hidden" id="selectedDateValue" name="@targetProperty" value="@selectedDate.ToString("yyyy-MM-dd")" />
  <div class="col-md-8">
    <div class='input-group date' id="datePicker">
      <input type='text' class="form-control" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#datePicker")
      .datetimepicker({
        locale: "en-GB",
        format: "DD/MM/YYYY",
        minDate: moment("2010-01-01"),
        date: "@selectedDate.ToString("yyyy-MM-dd")"
      })
      .on("dp.change", function(e) {
        $("#selectedDateValue").val(e.date.format("YYYY-MM-DD"));
      });
  });
</script>