@model DateTime

@{
  var selectedDate = (DateTime) ViewData["SelectedDate"];
  var targetProperty = ViewData["TargetProperty"] ?? "Date";
}

<div class="row">
  <input type="hidden" id="selectedDateValue" name="@targetProperty" value="@selectedDate.ToString("yyyy-MM-dd")" />
  <div class="col-md-8">
    <div id="datePicker"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $("#datePicker")
      .datetimepicker({
        inline: true,
        sideBySide: true,
        locale: "en-GB",
        format: "D d M yyyy",
        minDate: moment("2010-01-01"),
        date: "@selectedDate.ToString("yyyy-MM-dd")"
      })
      .on("dp.change", function(e) {
        $("#selectedDateValue").val(e.date.format("YYYY-MM-DD"));
      });
  });
</script>