<?xml version="1.0"?>
<connectionStrings>
  <add name="MotorsportsEntities"
       connectionString="metadata=res://*/App_Code.MotorsportsModel.csdl|res://*/App_Code.MotorsportsModel.ssdl|res://*/App_Code.MotorsportsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ugserver.database.windows.net;initial catalog=Motorsports;user id=MotorsportsApp;password=TheBigSecret;MultipleActiveResultSets=True;App=EntityFramework&quot;"
       providerName="System.Data.EntityClient" />
</connectionStrings>
