<?xml version="1.0"?>
<connectionStrings>
  <add name="Entities"
       connectionString="metadata=res://Motorsports.Scaffolding.Web/App_Code.MotorsportsEFModel.csdl|res://Motorsports.Scaffolding.Web/App_Code.MotorsportsEFModel.ssdl|res://Motorsports.Scaffolding.Web/App_Code.MotorsportsEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ugserver.database.windows.net;initial catalog=Motorsports;user id=MotorsportsApp;password=TheBigSecret;MultipleActiveResultSets=True;App=EntityFramework&quot;"
       providerName="System.Data.EntityClient" />
</connectionStrings>
