body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */

.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] { width: 100%; }

/* QR code generator */

#qrCode { margin: 15px; }

/* Hide/rearrange for smaller screens */

@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption { display: none; }
}

/* Custom bootstrap-slider for rating editor */
div .rating {
  display: flex;
}
div .slider {
  flex-grow: 1;
}
div #rangeValue {
  width: 30px;
  text-align: right;
}
div #rngRating .slider-selection {
  background: #BABABA;
}

div .formLabelWithLink {
  display: flex;
  justify-content: space-between;
}

div .nextUp {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
}

div .veryNextUp {
  background: #eee;
}

div .nextUp .nextUpTitle {
  font-weight: bold;
  font-size: 20px;
  display: inline-grid;
  width: 100px;
}

div .nextUpSport {
  font-style: italic;
  text-align: center;
  font-weight: bolder;
}

div .nextUpEventHistoryItem {
  border-top: 1px solid #ddd;
}

div .nextUpTagLine {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

div .nextUpDetail {
  display: inline-table;
}

div .nextUpDetailItem {
  margin-left: 30px;
}

div .disabledLink {
  color: silver;
}

div .padded {
  padding: 10px;
}

blockquote.homeHeader {
  margin-top: 30px;
}

img.sportlogo {
  max-width: 100px;
  max-height: 50px;
}

div.sportoptionlogo {
  width: 65px;
  text-align: center;
  display: inline-block;
}

div.sportoptiontext {
  display: inline-block;
}

div.sportoptionlogo img {
  max-width: 50px;
  max-height: 25px;
}

div.latestSeasonLogo {
  display: inline-block;
  width: 50px;
  text-align: center;
}

div.latestSeasonLogo img {
  max-width: 50px;
  max-height: 1.5em;
}

div.latestSeasonName {
  display: inline-block;
}