@model Motorsports.Scaffolding.Core.Models.DisplayModels.LoginDisplayModel

@{
  ViewData["Title"] = "Log in";
}

<div class="container">
  <div class="row">
    @if (Model.AccessDenied) {
      <div class="padded text-center">
        <div class="alert alert-danger">
          Access denied!
        </div>
      </div>
    }
    <div class="col-md-offset-4 col-md-4 padded text-center">
      <div>
        <h4>Welcome back</h4>
        <form asp-action="Login">
          <div class="form-group">
            <input type="text" id="username" name="Username" class="form-control input-sm" placeholder="username" autofocus="autofocus"/>
            <span asp-validation-for="Form.Username" class="text-danger"></span>
          </div>
          <div class="form-group">
            <input type="password" id="password" name="Password" class="form-control input-sm" placeholder="password"/>
            <span asp-validation-for="Form.Password" class="text-danger"></span>
          </div>
          <div>
            <input type="submit" value="login" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>