@model Motorsports.Scaffolding.Core.Models.DisplayModels.RoundDisplayModel

@{
  ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Round</h4>
<hr/>
<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="Id"/>
      <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control"/>
        <span asp-validation-for="Date" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Number" class="control-label"></label>
        <input asp-for="Number" class="form-control"/>
        <span asp-validation-for="Number" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Season" class="control-label"></label>
        <div>
          @Html.EditorFor(_ => _.Season, typeof(Season).Name, new {
            Seasons = Model.AvailableSeasons,
            SelectedSeason = Model.Season,
            TargetProperty = nameof(Model.Season)
          })
        </div>
      </div>
      <div class="form-group">
        <label asp-for="Venue" class="control-label"></label>
        <div>
          @Html.EditorFor(_ => _.Venue, typeof(Venue).Name, new {
            Venues = Model.AvailableVenues,
            SelectedVenue = Model.Venue,
            TargetProperty = nameof(Model.Venue)
          })
        </div>
      </div>
      <div class="form-group">
        <label asp-for="WinningTeamId" class="control-label"></label>
        <div>
          @Html.EditorFor(_ => _.WinningTeamId, nameof(Model.WinningTeam), new {
            Teams = Model.AvailableTeams,
            SelectedTeam = Model.WinningTeamId,
            TargetProperty = nameof(Model.WinningTeamId)
          })
        </div>
      </div>
      <div class="form-group">
        <label asp-for="WinningParticipants" class="control-label"></label>
        <div>
          @Html.EditorFor(_ => _.WinningParticipantIds, nameof(Model.WinningParticipants), new {
            Participants = Model.AvailableParticipants,
            SelectedParticipants = Model.WinningParticipantIds,
            TargetProperty = nameof(Model.WinningParticipantIds)
          })
        </div>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default"/>
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}