@model IEnumerable<Participant>

@{
  var winningParticipants = (Model ?? Enumerable.Empty<Participant>()).Select(p => $"{p.FirstName} {p.LastName}").ToList();
  <span>
    @(winningParticipants.Any()
        ? string.Join(", ", winningParticipants)
        : "?")
  </span>
}