@model Team

@{
  ViewData["Title"] = "Create";
}

<h2>Create</h2>

<blockquote><h4>Team</h4></blockquote>
<hr/>
<div class="row">
  <div class="col-md-4">
    <form asp-action="Create">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Sport" class="control-label"></label>
        <div>
          @Html.EditorFor(_ => _.Sport, nameof(Model.Sport), new {
            Sports = ((SelectList) ViewBag.Sport).Items.OfType<Sport>(),
            SelectedSport = Model.Sport,
            TargetProperty = nameof(Model.Sport)
          })
        </div>
        <span asp-validation-for="Sport" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Country" class="control-label"></label>
        @Html.EditorFor(_ => _.Country, nameof(Model.Country), new {
          Countries = ((SelectList) ViewBag.Country).Items,
          SelectedCountry = Model.Country,
          TargetProperty = nameof(Model.Country)
        })
        <span asp-validation-for="Country" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default"/>
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>