@using Motorsports.Scaffolding.Core.Services

@model Team

@inject IImageService _imageService

@{
  ViewData["Title"] = "Edit team";
}

<h2>Edit</h2>

<blockquote>
  <div class="sportlogoContainer">
    <img class="sportlogo" src="@_imageService.GetSportLogo(Model.Sport)" alt="@Model.Sport" />
  </div>
  <h4 class="viewName">Team</h4>
</blockquote>
<hr/>
<div class="row">
  <div class="col-md-4">
    <form asp-action="Edit">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="Id"/>
      <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" autofocus="autofocus"/>
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Sport" class="control-label"></label>
        <div>
          @Html.EditorFor(_ => _.Sport, nameof(Model.Sport), new {
            Sports = ((SelectList) ViewBag.Sport).Items.OfType<Sport>(),
            SelectedSport = Model.Sport,
            TargetProperty = nameof(Model.Sport)
          })
        </div>
        <span asp-validation-for="Sport" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Country" class="control-label"></label>
        @Html.EditorFor(_ => _.Country, nameof(Model.Country), new {
          Countries = ((SelectList) ViewBag.Country).Items.OfType<Country>(),
          SelectedCountry = Model.Country,
          TargetProperty = nameof(Model.Country)
        })
        <span asp-validation-for="Country" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default"/>
      </div>
    </form>
  </div>
</div>

<div>
  <a asp-action="Index">Back to List</a>
</div>